.main-column{
    grid-column-start: 1;
    margin-top: -1px;
    position: sticky;
    height: var(--h-available);
    top: var(--spacing-sticky);
    grid-column-end: 7;
    background-color: var(--color-primary);

}
.box-parent{
    transition-property: none;
    border-width: 0;
    border-color: var(--color-secondary);

}
.box-menu{
    border-color: var(--color-secondary);
    border-bottom-width: 1px;
    overflow: hidden;
    --tw-translate-y: 0;
    --tw-translate-x: 0;
}
.box-inner{
    border-color: var(--color-secondary);
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    --tw-translate-y: 0;
    --tw-translate-x: 0;
}
.pb-container {
    padding-bottom: var(--padding-container);
}
.col-start-7 {
    grid-column-start: 7;
}
.grid-w{
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);

}
.bottom-2{
    bottom: 2rem;
}
.grid-cols-18{
    grid-template-columns: repeat(18, minmax(0, 1fr));
}
.col-end-25 {
    grid-column-end: 25;
}
.row-span-2 {
    grid-row: span 2 / span 2;
}
.col-span-full {
    grid-column: 1 / -1;
}

.self-start {
    align-self: flex-start;
}
.lg\:pt-\[63\.5\%\] {
    padding-top: 63.5%;
}
.lg\:col-span-12 {
    grid-column: span 12 / span 12;
}

.h-0 {
    height: 0;
}
.row-span-2 {
    grid-row: span 2 / span 2;
}
.relative {
    position: relative;
}
.xl\:transition-none {
        transition-property: none;
    }

    .xl\:border-0 {
        border-width: 0;
    }
    .absolute-full {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.border-secondary {
    border-color: var(--color-secondary);
}
.border-px {
    border-width: 1px;
}
    .xl\:border-secondary {
        border-color: var(--color-secondary);
    }
        .xl\:border-b-px {
        border-bottom-width: 1px;
    }
    .w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
    .xl\:border-x-px {
        border-left-width: 1px;
        border-right-width: 1px;
    }
    .lg\:col-start-1 {
        grid-column-start: 1;
    }
        .lg\:col-span-6 {
        grid-column: span 6 / span 6;
    }
    .lg\:col-start-7 {
        grid-column-start: 7;
    }
    .gap-10, .gap-grid {
    gap: 1rem;
}